<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %><br/>
  <% @post.comments.each do |t| %>
    <%= t.name %><br/>
   <% end %>
</p>
<%= link_to 'newcomment',new_post_comment_path(@post) %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
